# Ignorar archivos de entorno
.env
.env.*

# Ignorar directorios de dependencias
node_modules/
vendor/

# Ignorar compilaciones
dist/
build/
out/

# Ignorar logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar sistemas operativos
.DS_Store
Thumbs.db

# Ignorar configuraciones de IDE
.idea/
.vscode/
*.iml

# Ignorar archivos temporales
*.tmp
*.swp
*.swo

# Ignorar binarios
*.exe
*.dll
*.so
*.dylib

# Ignorar otros archivos sensibles
*.key
*.crt
*.pem

# Ignorar scripts de configuracion 
config.js

