.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* Reduce el padding horizontal */
  background-color: #F6F6F6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Estilos para el logotipo */
.navbar-logo .logo-text {
  font-family: 'Italianno', cursive;
  font-size: 2.5rem;
  color: #bf1743;
}

/* Estilos para los enlaces */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-left: 0; /* Elimina el margen izquierdo */
  padding-left: 0;
}

.navbar-links li a {
  font-family: 'Zilla Slab', serif;
  font-size: 1.5rem;
  color: #bf1743;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.navbar-links li a:hover {
  color: #8a0f2f;
}

/* Estilos para el botón con ícono */
.icon-button {
  background: none; 
  border: none;
  cursor: pointer; 
  padding: 0;
}

/* Estilos para la imagen dentro del botón */
.icon-image {
  height: 28px; 
  width: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      padding: 1rem;
  }

  .navbar-links {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }
}