body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff8c42;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    padding: 14px 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
    padding: 10px;
}

main {
    text-align: center;
    margin-top: 50px;
}

#welcome-message {
    font-size: 24px;
    color: #333;
}
