body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #FF8986;
    color: rgb(197, 183, 183);
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

.insumo-item {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #ff8c42;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e07b3c;
}

#result-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.sugerencias-container {
    position: relative;
    margin-bottom: 10px;
}

.sugerencia {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sugerencia:hover {
    background-color: #f0f0f0;
}

.sugerencias-container div {
    border-radius: 0 0 5px 5px;
}

input:focus {
    border-color: #FF8986;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 137, 134, 0.5);
}

.insumo-nombre {
    font-weight: normal;
}

.cantidad-utilizada {
    font-weight: normal;
}
